.tab-button {
    color:black;
}
.c0 {
    background-color: rgb(255, 128, 128);
}
.c1 {
    background-color: rgb(247, 170, 69);

}
.c2 {
    background-color: rgb(255, 228, 153);
}

.c3 {
    background-color: green;
}