.tab-button {
    color:black;
}
.c1 {
    background-color: rgb(255, 128, 128);

}
.c2 {
    background-color: rgb(247, 170, 69);
}

.c3 {
    background-color: rgb(255, 228, 153);
}
.c4 {
    background-color: rgb(21, 176, 21);
}

.c5 {
    background-color: rgb(77, 116, 243);
}

.c6 {
    background-color: rgb(141, 77, 243);
}