.card-box {
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: red;
    border-radius: 8px;
    position: relative;
}
.plus1 {
    background: transparent ;
}

.delete {
    background-color: transparent;
    color: black;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete:hover {
    color: red;
    border: none;
}


.c1 {
    background-color: rgb(255, 128, 128);

}
.c2 {
    background-color: rgb(247, 170, 69);
}

.c3 {
    background-color: rgb(255, 228, 153);
}
c4 {
    background-color: green;
}
