.card-box {
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: red;
    border-radius: 8px;
    position: relative;
}
.plus1 {
    background: transparent;
}

.delete {
    background-color: transparent;
    color: black;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor:pointer;
}

.delete:hover {
    color: red;
    border: none;
}
.message {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.likes-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.like-count{
    font-size: 18px;
    font-weight: bold;
    color: #434242;
}

.card-box.c1 {
    background-color: rgb(255, 128, 128);

}
.card-box.c2 {
    background-color: rgb(247, 170, 69);
}

.card-box.c3 {
    background-color: rgb(255, 228, 153);
}
.card-box.c4 {
    background-color: green;
}
.card-box.c5 {
    background-color: rgb(77, 116, 243);
}

.card-box.c6 {
    background-color: rgb(141, 77, 243);
}