.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-container {
  position: fixed;
  right: 10px;
}
.tabs {
  padding: 5px;
  width: 100%;
  max-width: 1000px;
  display: flex;

}

button {
  margin: 0 .5em;
}

.divider {
  width: 100%;
  max-width: 1000px;
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

.header button:hover {
  background-color: rgb(235, 62, 62);
}

/*.all {
  height: 40.1875px;
}*/
.all {
	padding: 5px;
	width: 100%;
	max-width: 1000px;
	display: flex;
}

